# 3. Executing Python: Programs, Algorithms, and Functions

## Python Scripts and Modules

##### A script is a file that is designed to be executed, usually from the command line.

##### On the other hand, a module is usually imported into another part of the code or an interactive shell to be executed.

Note that this is not a hard distinction; modules can be executed and scripts can be imported into other scripts/modules. A Python script becomes importable and a module becomes executable when we add the following line in it with appropriate content after that added line:

#### if __name__==  "__main__"

### Exercise 35: Writing and Importing our First Module

In [1]:
from my_module import compute
compute([5, 7, 11])

[120, 5040, 39916800]

In [6]:
import my_module

help(my_module)

Help on module my_module:

NAME
    my_module

FUNCTIONS
    compute(numbers)

FILE
    c:\users\ychzsh\python\my_module.py

### Import

In [7]:
import math
math.exp(2)

7.38905609893065

In [8]:
from math import exp
exp(2)

7.38905609893065

In [9]:
from math import exp as exponential
exponential(2)

7.38905609893065

### The if __name__ == "__main__" Statement

In [11]:
result = 0
for n in range(1, 11):  # Recall that this loops through 1 to 10, not including 11
    result += n
print(result)

55

In [16]:
result = 0
for n in range(1, 11):  # Recall that this loops through 1 to 10, not including 11
    result += n
if __name__ == '__main__':
    print(result)

55

In [17]:
from current_time import time
time

datetime.time(15, 7, 10, 18693)

## Python Algorithms

### Pseudocode Maximum Number

##### 1. Set the maximum variable to 0.
##### 2. For each number in our list, check whether the number is bigger than the maximum.
##### 3. Set the maximum variable to the given number if the given number in the list is greater than the current value of the maximum variable, else keep the maximum variable unchanged.
##### 4.Repeat this process till all the numbers in the list are done. The maximum variable is now equal to the largest number in the list.

In [20]:
#1. Create a list of numbers:
l = [4, 2, 7, 3]

In [21]:
#2. Set the maximum variable equal to 0:
maximum = 0

In [22]:
#3. Look through each number, and compare it to maximum:
for number in l:
    if number > maximum:
        maximum = number

In [23]:
#4. Check the result:
print(maximum)

7

## Time Complexity

In [25]:
l = [5, 8, 1, 3, 2] #list of numbers

still_swapping = True #Create an indicator that will tell us when you can stop looping through the array

In [26]:
while still_swapping:            #Look through each number, and compare it to maximum
    still_swapping = False
    for i in range(len(l) - 1):
        if l[i] > l[i+1]:
            l[i], l[i+1] = l[i+1], l[i]
            still_swapping = True

In [28]:
l

[1, 2, 3, 5, 8]

## Searching Algorithms

### Linear Search in Python

In [1]:
l = [5, 8, 1, 3, 2]

In [2]:
search_for = 8
result = -1 
for i in range(len(l)):
    if search_for == l[i]:
        result = i
        break

In [3]:
 print(result)

1

### Binary Search in Python

In [4]:
l = [2, 3, 5, 8, 11, 12, 18]

In [5]:
search_for = 11

In [6]:
slice_start = 0
slice_end = len(l) - 1

In [7]:
found = False

In [8]:
while slice_start <= slice_end and not found:
    location = (slice_start + slice_end) // 2
    if l[location] == search_for:
        found = True
    else:
        if search_for < l[location]:
            slice_end = location - 1
        else:
            slice_start = location + 1

In [10]:
print(found)
print(location)

True
4

In [11]:
def add_up(x, y):
    return x + y
add_up(1, 3)

4

In [12]:
def get_second_element(mylist):
    if len(mylist) > 1:
        return mylist[1]
    else:
        return 'List was too small'

In [13]:
get_second_element([1, 2, 3])

2

In [14]:
get_second_element([1])

'List was too small'

### Defining and Calling the Function in Python Script

In [6]:
"""
def list_product(my_list): 
    result = 1
    for number in my_list: 
        result = result * number
        return result
    print(list_product([2, 3]))
    print(list_product([2, 10, 15])) """

#Should be write this code in script and run with command prompt

6
300

### Importing and Calling the Function from the Shell

In [13]:
from multiply import list_product
#if__name__ == 'main'
list_product([-1, 2, 3])

-6

### Positional Arguments

In [14]:
def add_up(x, y):
    return x + y

In [15]:
from datetime import datetime
def get_the_time():
    return datetime.now()
print(get_the_time())

2020-07-14 20:41:00.442193

### Defining the Function with Keyword Arguments

In [16]:
def add_suffix(suffix='.com'):
    return 'google' + suffix

In [17]:
add_suffix()

'google.com'

In [18]:
add_suffix('.co.uk')

'google.co.uk'

### Positional and Keyword Arguments

In [19]:
def divide(a, b):
    return a / b

In [20]:
divide(1, 2)

0.5

In [21]:
divide(a=1, b=2)

0.5

In [22]:
divide(b=2, a=1)

0.5

In [23]:
divide(1, b=2)

0.5

In [24]:
def convert_usd_to_aud(amount, rate=0.75):
    return amount / rate

In [25]:
convert_usd_to_aud(100)

133.33333333333334

In [26]:
convert_usd_to_aud(100, rate=0.78)

128.2051282051282

### *args and **kwargs Arguments

In [27]:
def sum_of_numbers(*args):
    total = 0
    for number in args:
        total += number
    return total
print(sum_of_numbers(1,3,2,5,4))

15

In [28]:
def person_details(**kwargs):
    print("Personal Details")
    for key, value in kwargs.items():
        print("{} : {}".format(key,value))

In [29]:
person_details(firstName = "Jason", lastName = "Scott", country = "US")

Personal Details
firstName : Jason
lastName : Scott
country : US

In [30]:
person_details(name = "Ratan", country = "India", age = 23)

Personal Details
name : Ratan
country : India
age : 23

In [31]:
input_dict = {'name' : 'Vikas Singh' , 'gender' : 'Male'}
person_details(**input_dict)

Personal Details
name : Vikas Singh
gender : Male

## Formatting Customer Names

In [39]:
from customer import format_customer
format_customer('John', 'Smith', location = "California")

'John Smith (California)'

## Iterative Functions

### Exercise 48: A Simple Function with a For Loop

In [1]:
def sum_first_n(n):
    result = 0
    for i in range(n):
        result += i + 1
    return result

In [2]:
sum_first_n(100)

5050

### Exercise 49: Exiting the Function During the For Loop

In [4]:
def is_prime(x):
    for i in range(2, x):
        if (x % i) == 0:
            return False
        return True

In [5]:
is_prime(17)

True

In [6]:
is_prime(1000)

False

### Activity 10: The Fibonacci Function with an Iteration

In [1]:
from fibonacci import fibonacci_iterative
fibonacci_iterative(3)

2

In [2]:
fibonacci_iterative(10)

55

## Recursive Functions

In [3]:
def print_the_next_number(start):
    print(start + 1)
    if start >= 7:
        return "I'm bored"
    return print_the_next_number(start + 1)
print_the_next_number(5)

6
7
8

"I'm bored"

In [4]:
def countdown(n):
    if n == 0:
        print('liftoff!')
    else:
        print(n)
        return countdown(n - 1)
    
countdown(3)

3
2
1
liftoff!

### Factorial With Iteration and Recursion

In [7]:
def factorial_iterative(n):
        result = 1
        for i in range(n):
            result *= i + 1
        return result
    
factorial_iterative(5)

120

In [10]:
def factorial_recursive(n):
        if n == 1 or n == 0:
            return 1
        else:
            return n * factorial_recursive(n - 1)  
        
factorial_recursive(5)

120

### Fibonacci Recursive

In [1]:
from fibonacci import fibonacci_recursive

In [2]:
fibonacci_recursive(5)

5

In [3]:
fibonacci_recursive(10)

55

### Summing Integers

In [4]:
stored_results = {}

def sum_to_n(n):
    result = 0

In [5]:
stored_results = {}

def sum_to_n(n):
    result = 0
    for i in reversed(range(n)):
        result += i + 1
    stored_results[n] = result
    return result

In [6]:
stored_results = {}

def sum_to_n(n):
    result = 0
    for i in reversed(range(n)):
        if i + 1 in stored_results:
            print('Stopping sum at %s because we have previously computed it' % str(i + 1))
            result += stored_results[i + 1]
            break
        else:
            result += i + 1
    stored_results[n] = result
    return result

In [7]:
sum_to_n(5)

15

In [8]:
sum_to_n(6)

Stopping sum at 5 because we have previously computed it

21

In [9]:
sum_to_n(7)

Stopping sum at 6 because we have previously computed it

28

In [10]:
sum_to_n(9)

Stopping sum at 7 because we have previously computed it

45

In [11]:
sum_to_n(1000000)

Stopping sum at 9 because we have previously computed it

500000500000

### Timing Your Code

In [12]:
from dynamic import sum_to_n

In [13]:
sum_to_n(1000000)

0.7095281000001705 seconds

500000500000

In [14]:
sum_to_n(1000000)

Stopping sum at 1000000 because we have previously computed it
0.00012939999987793271 seconds

500000500000

### The Fibonacci Function with Dynamic Programming

In [1]:
from fibonacci import fibonacci_dynamic
fibonacci_dynamic(3)

2

In [2]:
fibonacci_dynamic(100)

354224848179261915075

## Helper Currency Conversion

In [5]:
def compute_usd_total(amount_in_aud=0, amount_in_gbp=0):
    total = 0
    total += amount_in_aud * 0.78
    total += amount_in_gbp * 1.29
    return total

compute_usd_total(amount_in_gbp=10)

12.9

In [4]:
def convert_currency(amount, rate, margin=0):
     return amount * rate * (1 + margin)

In [6]:
def compute_usd_total(amount_in_aud=0, amount_in_gbp=0):
    total = 0
    total += convert_currency(amount_in_aud, 0.78)
    total += convert_currency(amount_in_gbp, 1.29)
    return total

In [7]:
compute_usd_total(amount_in_gbp=10)

12.9

In [8]:
def compute_usd_total(amount_in_aud=0, amount_in_gbp=0):
    total = 0
    total += convert_currency(amount_in_aud, 0.78)
    total += convert_currency(amount_in_gbp, 1.29, 0.01)
    return total

In [9]:
compute_usd_total(amount_in_gbp=10)

13.029

## Variable Scope

### The Global Keyword

In [10]:
score = 0
def update_score(new_score):
    global score
    score = new_score
print(score)

0

In [12]:
update_score(100)
print(score)

100

### The Nonlocal Keyword

In [13]:
x = 4
def myfunc():
    x = 3
    def inner():
        nonlocal x
        print(x)
    inner()
myfunc()

3

### Lambda Functions

In [14]:
def add_up(x, y):
    return x + y
print(add_up(2, 5))

7

In [15]:
add_up = lambda x, y: x + y
print(add_up(2, 5))

7

In [16]:
first_item = lambda my_list: my_list[0]
first_item(['cat', 'dog', 'mouse'])

'cat'

## Mapping with Lambda Functions

In [19]:
names = ['Magda', 'Jose', 'Anne']
lengths = []
for name in names:
    lengths.append(len(name))
lengths = list(map(len, names))
sum(lengths) / len(lengths)

4.333333333333333

In [21]:
list1 = [2, 4, 6, 8]
print(list1)

new_list = list(map(lambda x: x + 5, list1))
print(new_list)

[2, 4, 6, 8]
[7, 9, 11, 13]


## Mapping with a Logistic Transform

In [20]:
#Applying the logistic function to a list

import math

nums = [-3, -5, 1, 4]

list(map(lambda x: 1 / (1 + math.exp(-x)), nums))

[0.04742587317756678,
 0.0066928509242848554,
 0.7310585786300049,
 0.9820137900379085]

## Filtering with Lambda Functions

In [22]:
numbers = [1, 4, 5, 10, 20, 30]
print(numbers)
 
new_numbers = list(filter(lambda x: x > 10, numbers))
print(new_numbers)

[1, 4, 5, 10, 20, 30]
[20, 30]

In [24]:
names = ['Karen', 'Jim', 'Kim']
print(names)

new_names =list(filter(lambda name: len(name) == 3, names))
print(new_names)

['Karen', 'Jim', 'Kim']
['Jim', 'Kim']

In [27]:
nums = list(range(1000))

filtered = filter(lambda x: x % 3 == 0 or x % 7 == 0, nums)

sum(filtered)

214216

## Reudce with Lambda Functions

In [28]:
#Reduce method for when we want sum number of the one list
from functools import reduce
 
numbers = [10, 20, 30, 40]
print(numbers)
 
result = reduce(lambda a, b: a + b, numbers)
print(result)

[10, 20, 30, 40]
100

## Sorting with Lambda Functions

In [30]:
names = ['Ming', 'Jennifer', 'Andrew', 'Boris']
print(names)

sorted(names, key=lambda x : len(x))

['Ming', 'Jennifer', 'Andrew', 'Boris']

['Ming', 'Boris', 'Andrew', 'Jennifer']