# 2. Python Structures

## Introduction

### List

In [1]:
todo = ["pick up laundry", "buy Groceries", "pay electric bills"]

### Dictionary

In [2]:
User = { 
  "first_name": "Jack", 
  "last_name":"White", 
  "age": 41,
  "email": "jack.white@gmail.com"
}

- There are four types of data structures in Python: list, tuple, dictionary, and set.

## The Power of Lists

- A list is a type of container in Python that is used to store multiple data sets at the same time. Python lists are often compared to arrays in other programming languages, but they do a lot more.

### Exercise 21: Working with Python Lists

In [3]:
shopping = ["bread","milk", "eggs"]
print(shopping)

['bread', 'milk', 'eggs']

In [4]:
for item in shopping:
  print(item)

bread
milk
eggs

Note: Python lists are different from arrays used in other languages, such as Java and C#. Python actually allows mixed types in a list, that is, int and string.

In [5]:
mixed = [365, "days", True]
print(mixed)

[365, 'days', True]

## Matrices as Nested Lists

In [1]:
m = [[1, 2, 3], [4, 5, 6]]

In [2]:
print(m[1][1])

5

In [3]:
for i in range(len(m)):
  for j in range(len(m[i])):
    print(m[i][j])

1
2
3
4
5
6

In [4]:
for row in m:
    for col in row:
        print(col)

1
2
3
4
5
6

In [13]:
employees = [['John Mckee', 38, 'Sales'], ['Lisa Crawford', 29,'Marketing'], ['Sujan Patel', 33,'HR']]
print(employees)

[['John Mckee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]

In [18]:
for employee in employees:
    print(employee)

['John Mckee', 38, 'Sales']
['Lisa Crawford', 29, 'Marketing']
['Sujan Patel', 33, 'HR']

In [19]:
for employee in employees:
    print("Name:", employee[0])
    print("Age:", employee[1])
    print("Department:", employee[2])
    print('-' * 20)

Name: John Mckee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [20]:
employee = employees[1]
print(employee)
print("Name:", employee[0])
print("Age:", employee[1])
print("Department:", employee[2])
print('-' * 20)

['Lisa Crawford', 29, 'Marketing']
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------

### Matrix Operations (Addition and Subtraction)

In [21]:
X = [[1,2,3],[4,5,6],[7,8,9]]
Y = [[10,11,12],[13,14,15],[16,17,18]]

In [22]:
# Initialize a result placeholder
result = [[0,0,0], 
    [0,0,0], 
    [0,0,0]]

In [23]:
# iterate through rows
for i in range(len(X)):  
# iterate through columns 
  for j in range(len(X[0])): 
    result[i][j] = X[i][j] + Y[i][j]

In [24]:
print(result)

[[11, 13, 15], [17, 19, 21], [23, 25, 27]]

In [26]:
X = [[10,11,12],[13,14,15],[16,17,18]]
Y = [[1,2,3],[4,5,6],[7,8,9]]
# Initialize a result placeholder
result = [[0,0,0], 
    [0,0,0], 
    [0,0,0]] 
# iterate through rows 
for i in range(len(X)):  
# iterate through columns 
  for j in range(len(X[0])): 
    result[i][j] = X[i][j] - Y[i][j]

In [27]:
print(result)

[[9, 9, 9], [9, 9, 9], [9, 9, 9]]

### Matrix Multiplication Operations

In [28]:
X = [[1, 2], [4, 5], [3, 6]]
Y = [[1,2,3,4],[5,6,7,8]]

In [29]:
result = [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [30]:
# iterating by row of X 
for i in range(len(X)): 
 
  # iterating by column by Y 
  for j in range(len(Y[0])): 
 
    # iterating by rows of Y
    for k in range(len(Y)): 
      result[i][j] += X[i][k] * Y[k][j]

In [32]:
for r in result: 
  print(r)

[11, 14, 17, 20]
[29, 38, 47, 56]
[33, 42, 51, 60]

### Basic List Operations

In [1]:
shopping = ["bread","milk", "eggs"]

In [2]:
print(len(shopping))

3

In [3]:
list1 = [1,2,3]
list2 = [4,5,6]
final_list = list1 + list2
print(final_list)

[1, 2, 3, 4, 5, 6]

In [4]:
list3 = ['oi']
print(list3*3)

['oi', 'oi', 'oi']

### Accessing an Item from a List

In [6]:
shopping = ["bread","milk", "eggs"]
print(shopping[1])

milk

In [7]:
shopping[1] = "banana"
print(shopping)

['bread', 'banana', 'eggs']

In [8]:
print(shopping[-1])

eggs

In [9]:
print(shopping[0:2])

['bread', 'banana']

In [10]:
print(shopping[:3])

['bread', 'banana', 'eggs']

In [11]:
print(shopping[1:])

['banana', 'eggs']

### Adding an Item to a List

In [12]:
shopping = ["bread","milk", "eggs"]
shopping.append("apple")
print(shopping)

['bread', 'milk', 'eggs', 'apple']

In [13]:
shopping = []
shopping.append('bread')
shopping.append('milk')
shopping.append('eggs')
shopping.append('apple')
print(shopping)

['bread', 'milk', 'eggs', 'apple']

In [14]:
shopping.insert(2, 'ham') 
print(shopping)

['bread', 'milk', 'ham', 'eggs', 'apple']

### Dictionary Keys and Values

In [15]:
employee = {
  'name': "Jack Nelson",
  'age': 32,
  'department': "sales"
}

In [16]:
movie = {
  "title": "The Godfather",
  "director": "Francis Ford Coppola",
  "year": 1972,
  "rating": 9.2
}

In [17]:
print(movie['year'])

1972

In [18]:
movie['rating'] = (movie['rating'] + 9.3)/2
print(movie['rating'])

9.25

In [19]:
movie = {}
movie['title'] = "The Godfather"
movie['director'] = "Francis Ford Coppola"
movie['year'] = 1972
movie['rating'] = 9.2

In [20]:
movie['actors'] = ['Marlon Brando', 'Al Pacino', 'James Caan']
movie['other_details'] = {
  'runtime': 175,
  'language': 'English'
}
print(movie)

{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2, 'actors': ['Marlon Brando', 'Al Pacino', 'James Caan'], 'other_details': {'runtime': 175, 'language': 'English'}}

### Storing Company Employee Table Data Using a List and a Dictionary

In [3]:
employees = [
    {"name": "John Mckee", "age":38, "department":"Sales"},
    {"name": "Lisa Crawford", "age":29, "department":"Marketing"},
    {"name": "Sujan Patel", "age":33, "department":"HR"}
]
print(employees)

[{'name': 'John Mckee', 'age': 38, 'department': 'Sales'}, {'name': 'Lisa Crawford', 'age': 29, 'department': 'Marketing'}, {'name': 'Sujan Patel', 'age': 33, 'department': 'HR'}]

In [4]:
for employee in employees:
    print("Name:", employee['name'])
    print("Age:", employee['age'])
    print("Department:", employee['department'])
    print('-' * 20)

Name: John Mckee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [5]:
for employee in employees:
    if employee['name'] == 'Sujan Patel':
        print("Name:", employee['name'])
        print("Age:", employee['age'])
        print("Department:", employee['department'])
        print('-' * 20)

Name: Sujan Patel
Age: 33
Department: HR
--------------------

## Zipping and Unzipping Lists Using zip()

In [2]:
items = ['apple', 'orange', 'banana']
quantity = [5,3,2]

In [7]:
orders = zip(items,quantity)
print(orders)

<zip object at 0x0181A2D8>

In [3]:
orders = zip(items,quantity)
print(list(orders))

[('apple', 5), ('orange', 3), ('banana', 2)]

In [4]:
orders = zip(items,quantity)
print(tuple(orders))

(('apple', 5), ('orange', 3), ('banana', 2))

In [5]:
orders = zip(items,quantity)
print(dict(orders))

{'apple': 5, 'orange': 3, 'banana': 2}

## Dictionary Methods

In [6]:
orders = {'apple':5, 'orange':3, 'banana':2}
print(orders.values())
print(list(orders.values()))

dict_values([5, 3, 2])
[5, 3, 2]

In [7]:
print(list(orders.keys()))

['apple', 'orange', 'banana']

In [12]:
for tuple in list(orders.items()):
    print(tuple)

('apple', 5)
('orange', 3)
('banana', 2)

## Tuples

In [13]:
weekdays_list = ['Monday', 'Tuesday', 'Wednesday','Thursday','Friday','Saturday', 'Sunday']

In [14]:
weekdays_tuple = ('Monday', 'Tuesday', 'Wednesday','Thursday','Friday','Saturday', 'Sunday')

In [15]:
t = ('bread', 'milk', 'eggs')
print(len(t))

3

In [16]:
t.append('apple')

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
t[2] = 'apple'

TypeError: 'tuple' object does not support item assignment

In [18]:
print(t + ('apple', 'orange'))
print(t)

('bread', 'milk', 'eggs', 'apple', 'orange')
('bread', 'milk', 'eggs')

In [19]:
t_mixed = 'apple', True, 3
print(t_mixed)
t_shopping = ('apple',3), ('orange',2), ('banana',5)
print(t_shopping)

('apple', True, 3)
(('apple', 3), ('orange', 2), ('banana', 5))

Note: Remember, a tuple is immutable; therefore, we are unable to use the append method to add a new item to an existing tuple. You can't change the value of any existing tuple's elements, either because both of the following statements will raise an error.

## A Survey of Sets

In [20]:
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = set([1,2,2,3,4,4,5,6,6])
print(s2)
s3 = set([3,4,5,6,6,6,1,1,2])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [21]:
s4 = {"apple", "orange", "banana"}
print(s4)

{'banana', 'apple', 'orange'}

In [22]:
s4.add('pineapple')
print(s4)

{'banana', 'pineapple', 'apple', 'orange'}

## Set Operations

In [23]:
s5 = {1,2,3,4}
s6 = {3,4,5,6}

### Union Method

In [24]:
print(s5 | s6)
print(s5.union(s6))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

### Intersect Method

In [25]:
print(s5 & s6)
print(s5.intersection(s6))

{3, 4}
{3, 4}

### Difference Method

In [26]:
print(s5 - s6)
print(s5.difference(s6))

{1, 2}
{1, 2}

### issubset Method (<=)

In [27]:
print(s5 <= s6)
print(s5.issubset(s6))

False
False

In [28]:
s7 = {1,2,3}
s8 = {1,2,3,4,5}
print(s7 <= s8)
print(s7.issubset(s8))

True
True

In [29]:
print(s7 < s8)

True

In [30]:
s9 = {1,2,3}
s10 = {1,2,3}
print(s9 < s10)
print(s9 < s9)

False
False

### issuperset Method (>=)

In [31]:
print(s8 >= s7)
print(s8.issuperset(s7))
print(s8 > s7)
print(s8 > s8)

True
True
True
False

Note: After all the topics covered so far, you may think that sets are similar to lists or dictionaries. However, sets are unordered and do not map keys to values, so they are neither a sequence nor a mapping type; they are a type by themselves.

## Choosing Types

** When choosing a collection type, it is useful to understand the unique properties of that type. For example, a list is for you to store multiple objects and to retain a sequence, a dictionary is for us to store unique key-value pair mappings, tuples are immutable, and sets only store unique elements. Choosing the right type for a particular dataset could mean an increase in efficiency or security.**

Choosing an incorrect type for your data will lead to data loss, in most cases it leads to low efficiency while running our code, and in the worst case, we might lose our data.

## Summary

To summarize, you need to remember that Python data structures include lists, tuples, dictionaries, and sets. Python provides these structures to enable you to code better as a developer. In this chapter, you have covered lists, which are one of the important data types in Python that store multiple objects, and also other data types, such as dictionaries, tuples, and sets. Each of these data types helps us to store and retrieve data effectively.

Data structures are an essential part of all programming languages. Most programming languages only provide basic data types to store different types of numbers, strings, and Booleans, as you learned in Chapter 1, Vital Python - Math, Strings, Conditionals, and Loops. They are an essential part of any program. In this chapter, you learned how to utilize advanced data structures such as nested lists and mixed data types, and lists with dictionariesâ€”structures that you can use to store complex data.

Next up, we are going to learn how to use functions to write modular and understandable code that follows the Don't Repeat Yourself (DRY) principle.

## Quize

In [32]:
nested_list = [ [1, 2], [3, 4] ]

outer_range = range(len(nested_list))

for i in outer_range:

    inner_range = range(len(nested_list[i]))

    for j in inner_range:

        print(nested_list[j] [i])

1
3
2
4

#### Dictionary

In [33]:
languages = {}
languages['name'] = 'Python'

In [34]:
a = list(range(10))
a[1:8:2]

[1, 3, 5, 7]

In [38]:
for x in thisdict:
    print(thisdict[x])

NameError: name 'thisdict' is not defined

In [39]:
list1 = [0]
list2 = [1]

In [43]:
(list1 + list2) * 2

[0, 1, 0, 1]

In [45]:
set1 = {2, 4, 6}
set2 = {2, 4, 6, 8, 10}

In [46]:
set1 <= set2

True

In [47]:
fruit = ['banana', 'strawberry']
count = [2, 3]
basket = zip(fruit) + zip(count)
print(list(basket))

TypeError: unsupported operand type(s) for +: 'zip' and 'zip'

In [48]:

fruit = ['banana', 'strawberry']
count = [2, 3]
basket = zip (count, fruit)
print(list(basket))

[(2, 'banana'), (3, 'strawberry')]

In [51]:
fruit = ['banana', 'strawberry']
count = [2, 3]
basket = zip (fruit, count)
print(list(basket))

[('banana', 2), ('strawberry', 3)]

In [53]:
planets = ['Venus', 'Earth', 'Mars']
planets[0:1]

['Venus']

In [56]:
list1 = [0, 1, 2]
list2 = [3, 4]

list1 + list2

[0, 1, 2, 3, 4]

In [57]:
set1 = {1, 2, 3, 3}
set2 = {3, 2, 1}
print(set1 == set2)

True

In [59]:
fruits = {'apple': 2, 'strawberry': 3}
list(fruits.keys())

['apple', 'strawberry']