# 1. Vital Python: Math, Strings, Conditionals, and Loops

In [1]:
9 /4

2.25

In [ ]:
15 + 7

In [ ]:
160 - 12

In [ ]:
12 * 3

In [ ]:
12 / 6

In [ ]:
2 ** 2

In [ ]:
2 ** 5

In [ ]:
12 % 5

In [ ]:
12 // 6

In [ ]:
(100 - 5 ** 3) / 5

In [ ]:
6 + 15 % 4

In [ ]:
2 ** 2 + 24 // 4

1.Begin by explicitly determining the type of 6 using the following code:

In [ ]:
type(6)

2. Now, enter type(6.0) in the next cell of your notebook:

In [ ]:
type(6.0)

3. Now, add 5 to 3.14. Infer the type of their sum:

In [ ]:
5 + 3.14

4. Now, convert 7.999999999 to an int:

In [ ]:
int(7.999999999)

5. Convert 6 to a float:

In [ ]:
float(6)

## Complex Number Types

Divide 2 + 3j by 1 - 5j, enclosing both operations within parentheses:

In [ ]:
(2 + 3j) / (1 - 5j)

## Assigning Variables

1. Set x as equal to the number 2:

In [ ]:
x = 2

2. Add 1 to the variable x:

In [ ]:
x + 1

In [ ]:
x = 3.0
x + 1

## Assigning Values to Variables

In [ ]:
x = 14

In [ ]:
x += 1

In [ ]:
x = (x / 5) ** 2

In [ ]:
print(x)

## Variable Names

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
1st_number = 1

In [ ]:
first_number = 1

In [ ]:
my_$ = 1000.00

## Multiple Variables

1. Assign 5 to x and 2 to y:

In [ ]:
x = 5
y = 2

2. Add x to x and subtract y to the second power:

In [ ]:
x + x - y ** 2

3. Assign 8 to x and 5 to y in one line:

In [ ]:
x, y = 8, 5

4. Find the integer division of x and y:

In [ ]:
x // y

## Comments

In [ ]:
# This is a comment

In [ ]:
# Set the variable pi equal to 3.14
pi = 3.14

In [ ]:
pi = 3.14     # Set the variable pi equal to 3.14

## Docstrings

In [ ]:
"""
This document will explore why comments are particularly useful 
when writing and reading code.
"""

### Finding a Solution Using the Pythagorean Theorem in Python

In [ ]:
"""
In this activity, you need to assign numbers to the x, y, and z variables, square the variables and add them together, 
and take the square root to obtain the distance, while providing comments along the way and a docstring to introduce 
the sequence of steps.

"""
import math 

x, y, z = 2, 3, 4

m = (x ** 2) + (y ** 2) + (z ** 2) 

print(math.sqrt(m))

### Strings: Concatenation, Methods, and input()

In [ ]:
bookstore = 'City Lights'

In [ ]:
bookstore = 'City Lights"

In [ ]:
bookstore = "Moe's"

In [ ]:
bookstore = 'Moe's'

## Displaying Strings

In [ ]:
greeting = 'Hello'
print(greeting)

## String Operations and Concatenation

In [ ]:
spanish_greeting = 'Hola'
print(spanish_greeting + 'Senor.')

3. Now, combine spanish_greeting with 'Senor.' using the + operator, but this time, include a space:

In [ ]:
spanish_greeting = 'Hola '
print(spanish_greeting + 'Senor.')

Display the greeting 5 times using the * multiplication operator:

In [ ]:
greeting = 'Hello'
print(greeting * 5)

## String Interpolation

In [ ]:
italian_greeting = 'Ciao'
print('Should we greet people with', italian_greeting, 'in North Beach?')

In [ ]:
owner = 'Lawrence Ferlinghetti'
age = 100
print('The founder of City Lights Bookstore, {}, is now {} years old.'.format(owner, age))

In [ ]:
len(italian_greeting)

## String Methods

In [ ]:
name = 'Corey'

In [ ]:
name.lower()

In [ ]:
name.capitalize()

In [ ]:
name.upper()

In [ ]:
name.count('')

## Types and Casting

In [ ]:
type('5')

In [ ]:
'5' + '7'

In [ ]:
int('5')

In [ ]:
int('5') + int('7')

## The input() Function

In [ ]:
# Choose a question to ask
print('What is your name?')

In [ ]:
name = input()

In [ ]:
print('Hello, ' + name + '.')

In [ ]:
name = input('What is your name?')

In [ ]:
print('Hello, ' + name + '.')

## Activity 3: Using the input() Function to Rate Your Day

In [ ]:
#Please input your Day rate Between 1 t0 10.

name = input("Please Enter your name :")

In [ ]:
rate = input("Please, Enter your rating between 1 - 10: ")

In [ ]:
print("Hello " + name, "your day rating is " + rate)

In [ ]:
# Choose a question to ask

print('How would you rate your day on a scale of 1 to 10?')

In [ ]:
# Set a variable equal to input()

day_rating = input()

In [ ]:
# Select an appropriate output.

print('You feel like a ' + day_rating + ' today. Thanks for letting me know')

## String Indexing and Slicing

### Indexing

In [ ]:
destination = 'San Francisco'

Note: We always start at 0 when indexing.

In [ ]:
destination[0]

In [ ]:
destination[1]

Note: Negative numbers start at the end of the string. (It makes sense to start with -1 since -0 is the same as 0.)

In [ ]:
destination[-1]

In [ ]:
destination[-2]

In [ ]:
bridge = 'Golden Gate'
bridge[6]

### Slicing

In [ ]:
destination[4:11]

In [ ]:
destination[0:3]

In [ ]:
destination[:8]

In [ ]:
destination[-3:]

## Booleans

In Python, a Boolean class object is represented by the bool keyword and has a value of True or False.

Note: Boolean values must be capitalized in Python.

In [ ]:
over_18 = True
type(over_18)

In [ ]:
over_21 = False
type(over_21)

## Logical Operators

In [ ]:
over_18, over_21 = True, False

In [ ]:
over_18 and over_21

In [ ]:
over_18 or over_21

In [ ]:
not over_18

In [ ]:
not over_21 or (over_21 or over_18)

## Comparison Operators

Note: The = and == symbols are often confused. The = symbol is an assignment operator. So, x = 3 assigns the integer 3 to the x variable. The operator == makes a comparison between the two entities. Thus x == 3 checks to see whether x is equivalent to 3. The result of x == 3 will be True or False depending on the value of x.

In [ ]:
age = 20
age < 13

In [ ]:
age >= 20 and age <= 21

In [ ]:
age != 21

In [ ]:
age == 19

In [ ]:
6 == 6.0

In [ ]:
6 == '6'

In [ ]:
(age >= 20 and age < 30) or (age >= 30 and age < 40)

In [ ]:
(20 <= age < 30) or (30 <= age < 40)

## Comparing Strings

In [ ]:
'a' < 'c'

In [ ]:
'New York' > 'San Francisco'

## Conditionals

### The if Syntax

In [ ]:
age = 16
if age < 18:
    print('You aren\'t old enough to vote.')

### Indentation

One potential drawback is that dozens of tabs may draw text offscreen, but this is rare in practice, and can usually be avoided with elegant code. Other concerns, such as indenting or unindenting multiple lines, may be handled via shortcuts. Select all of the text and press Tab to indent. Select all of the text and press Shift + Tab to unindent.

Note: Indentation is unique to Python. This may result in strong opinions on both sides. In practice, indentation has been shown to be very effective, and developers used to other languages will appreciate its advantages in time.

### The if

In [ ]:
age = 20
if age >= 18 and age < 21:
   print('At least you can vote.')
   print('Poker will have to wait.')

In [ ]:
if age >= 18:
  print('You can vote.')
  if age >= 21:
    print('You can play poker.')

### if else

In [ ]:
age = 20
if age < 18:
  print('You aren\'t old enough to vote.')
else:
  print('Welcome to our voting program.')

In [ ]:
if age >= 18:
  print('Welcome to our voting program.')
else:
  print('You aren\'t old enough to vote.')

### The elif Statement

In [ ]:
if age <= 10:
  print('Listen, learn, and have fun.')
elif age<= 19:
  print('Go fearlessly forward.')
elif age <= 29:
  print('Seize the day.')
elif age <= 39:
  print('Go for what you want.')
elif age <= 59:
  print('Stay physically fit and healthy.')
else:
  print('Each day is magical.')

## Loops

### The while Loops

In [ ]:
i = 1
while i <= 10:
  print(i)
  i += 1

Note: You will get stuck in infinite loops. It happens to everyone. At some point, you will forget to add the increment, and you will be stuck in an infinite loop. In Jupyter Notebooks, just restart the kernel.

### An Infinite Loop

In [ ]:
x = 5
while x<= 20:
    print(x)
    x += 5

5
10
15
20

### break

In [ ]:
# Find first number greater than 100 and divisible by 17.
x = 100
while x > 100:
  x += 1
  if x % 17 == 0:
    print('', x, 'is the first number greater than 100 that is divisible by 17.')
    break

## Activity 4: Finding the Least Common Multiple (LCM)

In [ ]:
# Find the Least Common Multiple of Two Divisors
counting = True
first_divisor = 24
second_divisor = 36
i = 1
while counting:
    if i % first_divisor == 0 and i % second_divisor == 0:
        print('The Least Common Multiple of', first_divisor, 'and', second_divisor, 'is', i, '.')
        break
    i += 1

The Least Common Multiple of 24 and 36 is 72 .

## Eval

In [ ]:
# Evaluating value of 12+3
eval('12 + 3')

15

## Exercise 18: Calculating Perfect Squares

In [ ]:
print('Enter a number to see if it\'s a perfect square.') #1. prompt the user to enter a  number and it is a perfect square.
number = input()      #2. set variable equal to input.

Enter a number to see if it's a perfect square.
45

In [ ]:
number = abs(int(number))    #3. Ensure inpute is a positive whole number  
i = -1     #4. choose iterator variable.
square = False         # 5. Initialize a Boolean to check for a perfect square
while i <= number**(0.5): #6. Initialize a while loop from -1 to the square root of the number
    i += 1  # 7 . increment 1 by 1 
    if i*i == number: #8. Check the square root of the number
        square = True # 9. Indicate that we have a perfect square
        break #10. break out of the loop
if square: #11. If the number is square, print out the result
    print('The square root of', number, 'is', i, '.')
else: #12. If the number is not a square, print out this result
    print('', number, 'is not a perfect square.')

 45 is not a perfect square.

## Exercise 19: Real Estate Offer

In [ ]:
print('A one bedroom in the Bay Area is listed at $599,000')
print('Enter your first offer on the house.')

A one bedroom in the Bay Area is listed at $599,000
Enter your first offer on the house.

In [ ]:
offer = abs(int(input()))

500000

In [ ]:
print('Enter your best offer on the house.')

Enter your best offer on the house.

In [ ]:
best = abs(int(input()))

600000

In [ ]:
print('How much more do you want to offer each time?')

How much more do you want to offer each time?

In [ ]:
increment = abs(int(input()))

40000

In [ ]:
offer_accepted = False
while offer <= best:
    if offer >= 650000:
        offer_accepted = True
        print('Your offer of', offer, 'has been accepted!')
        break
    print('We\'re sorry, you\'re offer of', offer, 'has not been accepted.' )
    offer += increment

We're sorry, you're offer of 500000 has not been accepted.
We're sorry, you're offer of 540000 has not been accepted.
We're sorry, you're offer of 580000 has not been accepted.

### The For Loop

## Exercise 20: Using for Loops

In [ ]:
for i in 'Portland':
  print(i)

P
o
r
t
l
a
n
d

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1, 11, 2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(3, 0, -1):
    print(i)

3
2
1

In [ ]:
name = 'Corey'
for j in range(3):
    for i in name:
        print(i)

C
o
r
e
y
C
o
r
e
y
C
o
r
e
y

### The continue Keyword

In [ ]:
for num in range(10,100):
    if num % 2 == 0:
        continue
    if num % 3 == 0:
        continue
    if num % 5 == 0:
        continue
    if num % 7 == 0:
        continue
    print(num)

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Activity 5: Building Conversational Bots Using Python

In [ ]:
print('What is your name?')

What is your name?

In [ ]:
name = input() 
print('Fascinating.', name, 'is my name too.')

Zeinab
Fascinating. Zeinab is my name too.

In [ ]:
print('Have you thought about black holes today?')

Have you thought about black holes today?

In [ ]:
yes_no = input() 
print('I am so glad you said', yes_no, '. I was thinking the same thing.')

Yes
I am so glad you said Yes . I was thinking the same thing.

In [ ]:
print('We\'re kindred spirits,', name, '. Talk later.')

We're kindred spirits, Zeinab . Talk later.

In [ ]:
print('How intelligent are you? 0 is very dumb. And 10 is a genius') 
smarts = input()
smarts = int(smarts)
if smarts <= 3:
    print('I don\'t believe you.')
    print('How bad of a day are you having? 0 is the worst, and 10 is the best.')
    day = input()
    day = int(day)
    if day <= 5:
        print('If I was human, I would give you a hug.')
    else:
        print('Maybe I should try your approach.')
        hours = input()
        hours = int(hours)
        if hours <= 4:
            print('That\'s the problem.')
        else:
            print('And I thought it was only me.')
elif smarts <= 8:
    print('Are you human by chance? Wait. Don\'t answer that.')
    print('How human are you? 0 is not at all and 10 is human all the way.')
    human = input()
    human = int(human)
    if human <= 5:
        print('I knew it.')
    else:
        print('I think this courtship is over.')
else:
    print('I see... How many operating systems do you run?')
    os = input()
    os = int(os)
    if os <= 2:
        print('Good thing you\'re taking this course.')
    else:
        print('What is this? A competition?')

How intelligent are you? 0 is very dumb. And 10 is a genius
7
Are you human by chance? Wait. Don't answer that.
How human are you? 0 is not at all and 10 is human all the way.
8
I think this courtship is over.

In [ ]:
a, b, c = 15, 4, 2

a% (b * c)

7

In [ ]:
10 - 8 % 3

8

In [ ]:
x, y = 1, 2
if (x + y) == 2:
    print('a')
if (y - (x == 1)) == 2:
    print('b')
elif (y - x) == 1:
    print('c')
else:
    print('d')

c

In [ ]:
my_name = 'Bert'
my_name.replace('ert', 'ERT') == my_name.upper()

True

In [ ]:
for i in ['a', 'b', 'c']:
    if (i  != 'a') and (i != 'c'):
        print(i)

b

In [ ]:
string1 = "String1"
print(string1)
string2 = "String2"
string2

String1

'String2'

In [ ]:
i = 1
while i > 0:
    print(i)
    i -= 1

1

In [ ]:
for i in range(10, -1, -2):
    print(i)

10
8
6
4
2
0

In [ ]:
for i in range(0, 3):
    for j in range(0, 3):
        continue
    print(i+j)

2
3
4

In [ ]:
name = 'Bert'
if name[0] == 'B':
    print('B')
elif name[1] == ' ':
    pass
else:
    print('Unknown')

B

In [ ]:
int(5.999) + float(6.001)

11.001000000000001